* {
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
}

:root {
    --font-color-black : #1E1E1E; 
    --font-color-white: #f8f8f8;
    --bg-color: #f8f8f8;
    --light-green: #4C4F34;
    --dark-green: #323423;
    --button-color: #3B3D29;
    --button-color-hover: #232518;
    --real100vh: 100vh;

}

body {
    background-color: var(--bg-color);
    font-family: "Inter";
    font-weight: 700;
    height: var(--real100vh);
    overflow: hidden;
}

/* LANDING PAGE */

.navbar{
    position: relative;
    width: 100vw;
    height: 80px;
    background-color: var(--light-green);
    border-bottom: 5px solid var(--dark-green);

    display: flex;
    justify-content: center;
    align-items: center;

    background-image: url("resources/home/Topography.webp");
    background-position: center;
    background-clip: border-box;
    background-size: cover;
}

.navbar ul {
    width: 80%;
    height: 100%;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar ul li{
    display: inline-block;
    width: 180px;
    padding: 10px 0;
    border-radius: 50px;

    text-align: center;
    transition: background-color 0.3s linear;
}
.OpenSlider {
    display: none !important;
}

.navbar ul li:nth-child(n+3){
    background-color: var(--button-color);
}

.navbar ul li:nth-child(n+3):hover{
    background-color: var(--button-color-hover);
}

.navbar ul li a {
    text-decoration: none;
    font-size: 20px;
    color: var(--font-color-white);
}

.navbar ul li a img{
    height: 70px;
}

.navbarhidden{
    position: absolute ;
    right: -100% ;
    top: 0px ;
    height: var(--real100vh) ;
    width: 70vw;
    background-color: rgba(76, 79, 52, .8);
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
    padding: 10vh 0;

    display: flex;
    flex-direction: column;
    justify-content: center;

    transition: right .20s linear;
}

.navbarhidden ul{
    height: 100%;
    width: 100%;

    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    text-align: center;
}

.navbarhidden ul li{
    background-color: var(--button-color);
    width: 300px;
    padding: 15px 0px;
    border-radius: 50px;
}

.navbarhidden ul li a {
    text-decoration: none;
    color: var(--font-color-white);
    font-size: 30px;

    display: flex;
    align-items: center;
    justify-content: center;
}






/* QUERIES */

@media only screen and (max-width: 1900px){
    .navbar ul {
        width: 90%;
    }
}

@media only screen and (max-width: 1700px){
    .navbar ul {
        width: 95%;
    }
}

@media only screen and (max-width: 1600px){
    .navbar ul li{
        width: 160px;
    }

    .navbar ul li a{
        font-size: 15px;
    }
}

@media only screen and (max-width: 1400px){
    .navbar ul li{
        width: 140px;
    }
}

@media only screen and (max-width: 1200px){
    .navbar ul {
        width: 98%;
    }
    .navbar ul li{
        width: 120px;
    }

    .navbar ul li:first-child{
        width: 70px;
    }

    .navbar ul li a{
        font-size: 15px;
    }
}

@media only screen and (max-width: 1000px){
    .navbar ul {
        width: 98%;
    }
    .navbar ul li{
        width: 100px;
    }

    .navbar ul li a{
        font-size: 13px;
    }
}

@media only screen and (max-width: 800px){
    .navbar ul {
        width: 99%;
    }
    .navbar ul li{
        width: 90px;
    }

    .navbar ul li:first-child{
        width: 50px;
    }

    .navbar ul li a{
        font-size: 12px;
    }
}

@media only screen and (max-width: 700px){
    .navbar ul li:nth-child(n+3){
        display: none;
    }
    .navbar ul li{
        width: 100px !important;
    }
    .OpenSlider {
        display: inline-block !important;
    }
}

@media only screen and (max-width: 500px){
    .navbarhidden {
        width: 100vw;
        height: var(--real100vh);
        padding: 2vh 0;
    }
}