@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus, 
input:-webkit-autofill:active  {
  transition: background-color 5000s;
  -webkit-text-fill-color: #2F27CE !important;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}


body {
    height: 100vh;
    width: 100vw;
    overflow: hidden;

    background-color: #292929;
    display: flex;
    flex-direction: column;
    gap: 100px;
    justify-content: center;
    align-items: center;
}

.UserInputs {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.box {
    display: flex;
    gap: 10vw;
    align-items: center;
}

.info{
    width: 85vw;
    display: flex;
    justify-content: space-between;
}

.info h1{
    font-family: "Inter";
    color: #fff;
}

.info h1 span {
    background-color: #2F27CE;
    padding: 5px 30px;
    border-radius: 20px;
}

.container {
    position: relative;
    width: 615px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-bottom: 20px;
}


.title-input {
    width: 100%;
    display: flex;
    padding-bottom: 70px;
    justify-content: space-between;
    align-items: center;
}

.title-input.money::after{
    position: absolute;
    content: "KČ";
    right: 10px;
    font-size: 20px;
    font-family: "Inter";
    font-weight: 800;
    color: #2F27CE;
}

.title-input.percentage::after{
    position: absolute;
    content: "%";
    right: 10px;
    font-size: 20px;
    font-family: "Inter";
    font-weight: 800;
    color: #2F27CE;
}

.title-input h1{
    font-size: 20px;
    color: #fff;
    font-family: "Inter";
    font-weight: 500;
    -webkit-user-select: none; /* Safari */        
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* IE10+/Edge */
    user-select: none; /* Standard */
}

.title-input input[type="number"]{
    position: relative;
    border-radius: 20px;
    outline: none;
    border: none;
    background-color: #DDDBFF;
    width: 150px;
    height: 40px;

    text-align: right;
    font-size: 20px;
    padding: 0px 45px 0px 0px;
    color: #2F27CE;
    font-family: "Inter";
    font-weight: 800;
}

.title-input.year input[type="number"]{
    padding: 0px 10px 0px 0px;
}


.range-container {
    position: absolute;
}



input[type="range"]{
    position: relative;
    margin-top: 30px;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    display: block;
    width: 615px;
    background-color: #fff;
    height: 5px;
    outline: none;
    border-radius: 10px;
}

input[type="range"]::-webkit-slider-runnable-track{
    -webkit-appearance: none;
    height: 8px;
}

input[type="range"]::-moz-track{
    -moz-appearance: none;
    height: 8px;
    
}

input[type="range"]::-ms-track{
    appearance: none;
    height: 8px;
}

input[type="range"]::-webkit-slider-thumb{
    -webkit-appearance: none;
    height: 20px;
    width: 20px;
    background-color: #2F27CE;
    border-radius: 50%;
    cursor: pointer;
    margin-top: -6px;
    border: none;
}


input[type="range"]::-moz-range-thumb{
    appearance: none;
    -webkit-appearance: none;
    height: 20px;
    width: 20px;
    background-color: #2F27CE;
    border-radius: 50%;
    cursor: pointer;
    margin-top: -5px;
    border: none;-moz-appearance: none;
    height: 20px;
    width: 20px;
    
}

input[type="range"]::-ms-thumb{
    appearance: none;
    height: 20px;
    width: 20px;
    background-color: #2F27CE;
    border-radius: 50%;
    cursor: pointer;
    margin-top: -5px;
    border: none;
}

